body{
    background-image: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
        height: 100vh;
        padding: 0px;
        margin: 0px;

}
header{
    text-align: center;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: blue;
    padding: 0px;
    margin: 0px; 
    overflow: hidden;   
}
.navbar a{
    color: aqua;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: black;
}
.navbar li{
    float: left;
}
p{
    background-color: brown;
    width: fit-content;
}    
.container{
    display: flex;
}
.main-content{
    flex: 1;
}
.aside{
    width: 250px;
    max-width: 150px;
    float: right;
    background-color: burlywood;
    border: #777 solid 1px;
    display: flex;
    flex-direction: column;
    grid-area: aside;
    text-align: center;
    height: fit-content;
    margin-left: 20px;     
}
.aside h1{
    margin: 0;
}
.aside content{
    flex: 1;
}

footer{
    text-align: center;
    background-color: blueviolet;
}

